In [77]:
import pandas as pd
import numpy as np

## 8.1 Arithmetic

In [20]:
#import dataset 
df = pd.read_csv('./csv/00-CrashCourse.csv')

<img src="img/8_1_1.png">

In [118]:
ans8_1_1 = int(df[5:6].astype(int).sum(axis=1))
ans8_1_1

6

<img src="img/8_1_2.png">

In [68]:
ans8_1_2 = int(df[5:6].astype(int).count(axis=1))
ans8_1_2

3

<img src="img/8_1_3.png">

In [75]:
ans8_1_3 = 2**2
ans8_1_3

4

<img src="img/8_1_4.png">

In [79]:
ans8_1_4 = np.sqrt(4)
ans8_1_4

2.0

<img src="img/8_1_5.png">

In [82]:
ans8_1_5 = np.log2(4)
ans8_1_5

2.0

<img src="img/8_1_6.png">

In [84]:
ans8_1_6 = np.exp(2)
ans8_1_6

7.38905609893065

<img src="img/8_1_7.png">

In [86]:
ans8_1_7 = np.log(ans8_1_6) # ans8_1_6 => 7.38905609893065
ans8_1_7

2.0

<img src="img/8_1_8.png">

In [87]:
ans8_1_8 = np.pi
ans8_1_8

3.141592653589793

## 8.2 Statistical Summaries

<img src="img/8_2_1.png">

In [92]:
ans8_2_1 = int(df[24:25].astype(int).mean(axis=1))
ans8_2_1

2

<img src="img/8_2_2.png">

In [127]:
ans8_2_2 = df[37:38].astype(int).mode(axis=1)
ans8_2_2

    0
37  2

<img src="img/8_2_3.png">

In [131]:
ans8_2_3 = int(df[28:29].astype(int).std(axis=1))
ans8_2_3

1

<img src="img/8_2_4.png">

In [165]:
# Pandas ver
x = df[32:33].astype(int).iloc[0]
y = df[33:34].astype(int).iloc[0]

ans8_2_3 = x.corr(y)
ans8_2_3

1.0

In [166]:
def get_df_value(_series, _df):
    _list = []
    for i in list(_df.columns.values):
        _list.append(_series[i])
    return _list

In [171]:
# numpy ver
tmp1 = get_df_value(x, df)
tmp2 = get_df_value(y, df)
ans8_2_3_another = np.corrcoef(tmp1, tmp2)[0][1]
ans8_2_3_another

1.0

## 8.3 Random Numbers

<img src="img/8_3_1.png">

In [173]:
ans8_3_1 = np.random.rand()
ans8_3_1

0.39499402777258186

<img src="img/8_3_2.png">

In [182]:
ans8_3_2 = np.random.normal(10, 1)
ans8_3_2

9.025762752101611

## 8.4 Flow Control

<img src="img/8_4_1.png">

In [184]:
ans8_4 = "YES" if 1 > 2 else "NO"
ans8_4

'NO'